
    <div class="container">
      <h1 class="title">{{ content.title }}</h1>
      
      <div class="instruction-panel">
        <span class="instruction-text">Listen:</span>
        <button
          mat-icon-button
          color="primary"
          (click)="playCurrentAudio()"
          [disabled]="isComplete"
          class="audio-button"
        >
          <mat-icon>volume_up</mat-icon>
        </button>
      </div>

      <div class="grid-container">
        <div class="grid">
          <div
            *ngFor="let item of content.gridItems"
            class="grid-item"
            [class.found]="isFound(item.id)"
            (click)="handleCharacterClick(item.id)"
          >
            <span class="character">{{ item.character }}</span>
          </div>
        </div>
      </div>
      
      <div class="completion-message" *ngIf="isComplete">
        <h2 class="success-text">Well Done!</h2>
      </div>

      <audio #audioPlayer style="display: none;"></audio>
    </div>
  