
    <div class="video-player-activity">
      <h1>{{ content.title }}</h1>
      
      <p *ngIf="content.description" class="description">
        {{ content.description }}
      </p>
      
      <div class="video-container">
        <video
          #videoPlayer
          width="600"
          [controls]="false"
          class="video-element">
          <source [src]="content.videoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <button 
          mat-fab 
          color="primary"
          (click)="togglePlay()"
          class="play-button">
          <mat-icon>{{ playing ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>
      </div>
    </div>
  