
    <div class="container">
      <h1 class="title">{{ content.title }}</h1>

      <div class="sentences-container">
        <div *ngFor="let sentence of content.sentences" class="sentence-row">
          <span class="sentence-prefix">{{ sentence.prefix }}</span>
          
          <mat-form-field appearance="outline" class="dropdown-field">
            <mat-select
              [value]="answers[sentence.id] || ''"
              (selectionChange)="onSelectChange($event, sentence.id)"
              [disabled]="isComplete"
              class="dropdown-select"
              [class.correct]="isComplete && answers[sentence.id] === sentence.correctAnswer"
              [class.incorrect]="isComplete && answers[sentence.id] !== sentence.correctAnswer"
            >
              <mat-option value="" disabled>Select...</mat-option>
              <mat-option *ngFor="let option of sentence.options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <span class="sentence-suffix">{{ sentence.suffix }}</span>

          <mat-icon 
            *ngIf="isComplete" 
            [class.correct-icon]="answers[sentence.id] === sentence.correctAnswer"
            [class.incorrect-icon]="answers[sentence.id] !== sentence.correctAnswer"
            class="result-icon"
          >
            {{ answers[sentence.id] === sentence.correctAnswer ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </div>
      </div>
      
      <div class="actions">
        <button
          *ngIf="!isComplete"
          mat-raised-button
          color="primary"
          (click)="handleCheckAnswers()"
          class="check-button"
        >
          Check Answers
        </button>
        
        <button
          *ngIf="isComplete"
          mat-stroked-button
          (click)="handleReset()"
          class="retry-button"
        >
          <mat-icon>replay</mat-icon>
          Try Again
        </button>
      </div>
      
      <div *ngIf="isComplete" class="result-message" [class.all-correct]="isAllCorrect" [class.some-incorrect]="!isAllCorrect">
        {{ isAllCorrect ? 'All Correct!' : 'Some answers are incorrect. Please review.' }}
      </div>
    </div>
  